./.git/
./node_modules
./build
./coverage
./tests/stress-testing
.dockerignore
.gitignore
Dockerfile
cloudbuild.yaml
cloudbuild-pr.yaml
./kubernetes
.env*
clean-local-database.sh
run-cloud.sh
.prettierrc
./db
.editorconfig
docker-compose*
./.github
./.next